@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 100%;
  background-color: #fff;
}

#coloring {
  padding: 20px 0px;
  background-color: #1b75a8;
  border-radius: 5px;
}
.dates {
  display: flex;
  padding-left: 30px;
  font-weight: 600;
}
/*---- Header----*/
header {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/*-----Buttons-----*/
.add-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.add-list i, .input {
  cursor: pointer;
  background-color: #1b75a8;
  font-size: 16px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.fa-plus {
  padding: 15px;
}

.add-list input {
  text-align: center;
  height: 50px;
  width: 250px;
  border: 1px black;
  border-radius: 2px;
  padding-right: 10px;
  font-size: 14px;
  font-family: poppins;
}

.List {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.todoList li, .input {
  display: flex;
  height: 45px;
  width: 300px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #67a1c2;
  border-radius: 4px;
  padding: 0 15px;
  cursor: default;
  font-size: 20px;
}

.new-btn1, .new-btn2{
border: none;
border-radius: 3px;
height: 30px;
width: 100px;
outline: none;
background: transparent;
font-size: 16px;
cursor: pointer;
font-weight: 500;
display: inline-block;
margin: 5px;
background-color: #2d80b1;
}




